*.hypermod {
    font:
        20pt verdana,
        'DejaVu Sans',
        sans-serif;
}
.hypermod#hypermod-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    pointer-events: none;
    z-index: 1000000000;
}
.hypermod#main-menu {
    position: fixed;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    background-color: #303030;
    border: 4px solid #202020;
    z-index: 2000000000;
    pointer-events: all
}
.hypermod#tabs {
    display: flex;
    gap: 8px;
    height: 50px;
    align-items: center;
    position: relative;
    top: -25px;
}
.hypermod#tabs .hypermod {
    position: relative;
    width: 200px;
    height: 50px;
    background-color: #303030;
    border: 4px solid #202020;
    box-sizing: border-box;
    text-align: center;
    line-height: 42px;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s, top 0.3s;
}
.hypermod#tabs .hypermod:hover {
    background-color: #404040;
    border: 4px solid #303030;
    top: -5px;
}
.hypermod#tabs .hypermod.active {
    background-color: #404040;
    border: 4px solid #303030;
    top: -12.5px;
}
.hypermod#tab-content {
    margin-left: 10px;
    width: 100%;
    height: 100%;
    pointer-events: inherit
}
.hypermod.hm-section {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute
}
.hypermod#tab-content .hypermod.hm-section {
    display: none
}
.hypermod#tab-content .hypermod.hm-section.active {
    display: block
}
.hypermod#buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.hypermod.hm-button {
    background-color: #050505;
    border: 3px solid #000;
    text-align: center;
    transition: background-color 0.3s, border 0.3s;
    display: block;
    width: fit-content;
    display: block;
    pointer-events: all
}
.hypermod.inactive, .hypermod.inactive * {
    display: none
}
.hypermod.hm-button:hover {
    background-color: #808080;
    border: 3px solid #505050;
    cursor: pointer;
}
/* specified buttons */
.hypermod.hm-button#apply-button {
    position: absolute;
    width: 100px;
    height: 40px;
    top: calc(100% - 42px);
    left: calc(100% - 103px);
}
.hypermod.hm-button#reset-button {
    position: absolute;
    width: 100px;
    height: 40px;
    top: calc(100% - 42px);
    left: -3px;
}
.hypermod.hm-button#exit-button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -3px;
    left: calc(100% - 42px);
}
.hypermod.hm-button#exit-button:hover {
    background-color: #ca0000;
    border: 3px solid #9c0000;
}
.hypermod.indent * {
    position: relative;
    left: 20px;
}
.hypermod.hm-inline {
    display: flex;
    gap: 20px;
}
.hypermod.hm-checkbox {
    width: 20px;
    height: 20px;
}
.hypermod.hm-input {
    width: 200px;
    height: 20px;
    background-color: #303030;
    border: 4px solid #202020;
    color: #fff;
    font-size: 10pt
}
.hypermod.hm-slider {
    -webkit-appearance: none !important;
    appearance: none !important;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, hsla(254, 100%, 25%, 0.8)), color-stop(1, hsl(200, 80%, 45%))) !important;
    -webkit-background-clip: unset !important;
    background-clip: unset !important;
}
.hypermod.hm-link {
    text-decoration: underline;
    color: #00a2ff;
    transition: color 0.3s;
}
.hypermod.hm-link:hover {
    text-decoration: underline;
    color: #00c3ff;
}
canvas.hypermod {
    z-index: 1000000000;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
ul.hypermod {
    padding: 0
}
li.hypermod {
    padding: 0
}
.hypermod#midi-controls {
    display: flex;
    gap: 10px;
}